<!DOCTYPE html>
<html lang="en">
{% block head %}
    

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
  
{% endblock head %}
{% block header %}

<header>
    <nav>
        <ul>
            {% if user.is_superuser %}
                    <li><a href="/users">Users</a></li>
                    <li><a href="/appointment/index">Appointments</a></li>
                    <li><a href="/car/sold">Sold Cars</a></li>
            {%endif%}

            {% if user.is_authenticated %}
                <li><a href="/index">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/car/index">Cars</a></li>
                <li><a href="/logout">Log out</a></li>


            {% else %} 
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/index#about">About</a></li>
                <li><a href="/car/index">Cars</a></li>
            {% endif %}
           
        </ul>
    </nav>
</header>



{% endblock header %}
<body>
{% block main %}
<section id ="about">
        <form action="/index/sendEmail" method="post">
            <h1>Ask Question</h1>
            
            {% csrf_token %}
            
            <label for="name">Email:</label>
            <div class="form-group">
                <input type="email" id="email" name="email" required>
            </div>
            <label for="password">Name:</label>
            <div class="form-group">
                <input type="text" id="name" name="name" required>
            </div>
            <label for="password">Message :</label>
            <div class="form-group">
                <input type="text" id="body" name="body" required>
            </div>
        
            <div class="form-group">
                <button type="submit" value="Create" class="btn-signin">Add</button>
            </div>
        </form>
</section>
        
        
{% endblock main %}
{% block scripts %}

{% endblock scripts %}
</body>
</html>