<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            Model
        </th>
        <th></th>
        {%for car in cars%}
        <tr>
            <td>{{car.model}}</td>
            {%if car.sellingStatus  == "Available" %}
            <td><a href ="/car/sell/request/{{car.id}}"> Reqest For sell</a></td>
           
            {%elif car.sellingStatus == "Sell Request" %}
            <td><a disabled> Requested for Selling</a></td>
            {%else%}
            <td><a disabled>Sold</a></td>
            {%endif%} 
        </tr>
        {%endfor%}
    </table>
</body>
</html>