{% extends "../index.html" %}

{% block table %}
<thead>
    <tr>
        <th>
            Model
        </th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    {%for car in cars%}
    <tr>
        <td>{{car.model}}</td>
        {%if car.sellingStatus == "Available" %}
        <td>
            <a href="/car/sell/request/{{car.id}}">Sell</a>
        </td>

        {%elif car.sellingStatus == "Sell Request" %}
        <td>
            <button disabled> Requested</button>
        </td>
        {%else%}
        <td>
            <button disabled> Sold</button>
        </td>
        {%endif%}
    </tr>
    {%endfor%}
</tbody>
{% endblock table %}