{% extends "../index.html" %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <link rel="stylesheet" type="text/css" href="../../../static/css/modalForms.css">
    <link rel="stylesheet" type="text/css" href="../../../static/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.css" />
{% endblock head %}
<body>

{% block main %}

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
    <br>
    <img src="{{car.image}}" width="400" height="400">
    <p>Model: {{car.model}}</p>
    <p>Year : {{car.year}}</p>
    <p>Color : {{car.color}}</p>
    <p>Price: {{car.price}}</p>
    <p>Quantity: {{car.quantity}}</p>
    <p>Hp : {{car.horsePowers}}</p>
    <p>Engine: {{car.engineType}}</p>
    <p>Top speed: {{car.topSpeed}}</p>
    <p>0/100(km/s) :  {{car.zeroToHundredAcceleration}}</p>
    <p>Description :{{car.description}}</p>
    <br>
    <p>Gallery:</p>
    <a class="fancybox" href="../../../static/images/{{car.model}}/1_b.jpg" data-fancybox-group="gallery" title="">
        <img src="../../../static/images/{{car.model}}/1_s.jpg" alt="" />
    </a>
    <a class="fancybox" href="../../../static/images/{{car.model}}/2_b.jpg" data-fancybox-group="gallery" title="">
        <img src="../../../static/images/{{car.model}}/2_s.jpg" alt="" />
    </a>
    <a class="fancybox" href="../../../static/images/{{car.model}}/3_b.jpg" data-fancybox-group="gallery" title="">
        <img src="../../../static/images/{{car.model}}/3_s.jpg" alt="" />
    </a>
    <br>
  

    
{% if user.is_authenticated %}

    <button id="btnTestDrive">Book Test Drive</button>

    <div id="mTestDrive" class="modalTestDrive">
        <div class="modalTestDrive-content">
            <span class="closeTestDrive">&times;</span>
            <form action="/appointment/create/{{car.id}}" method="post">
                <h1>Book Test Drive</h1>
                
                {% csrf_token %}
                
                <label for="name">Start Date:</label>
                <div class="form-group">
                    <input type="datetime" id="startDate" name="startDate" required>
                </div>
                
                <div class="form-group">
                    <button type="submit" value="Create" class="btn-signin">Add</button>
                </div>
            </form>
        </div>
    </div>
{%endif%}

{% if user.is_superuser %}

    <button id="btnSellCar">Sell Car</button>

    <div id="mSellCar" class="modalSellCar">
        <div class="modalSellCar-content">
            <span class="closeSellCar">&times;</span>
            <form action="/car/sell/{{car.id}}" method="post">
                <h1>Sell Carr</h1>
                
                {% csrf_token %}
                
                <label for="name">Quantity</label>
                <div class="form-group">
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                
                <div class="form-group">
                    <button type="submit" value="Create" class="btn-signin">Add</button>
                </div>
            </form>
        </div>
    </div>
{%endif%}

{% endblock main %}   
{% block scripts %}
<script type="text/javascript" src="../../../static/js/jquery.js"></script>
<script type="text/javascript" src="../../../static/js/moment.min.js"></script>
<script type="text/javascript" src="../../../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../static/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="../../../static/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
<script>
        $(document).ready(function() {

            $('#startDate').datetimepicker({
                defaultDate: new Date(),
                format: 'YYYY-MM-DD HH:mm',
                ignoreReadonly: true,
            
            });

			$('.fancybox').fancybox();
		$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});

			$("#fancybox-manual-a").click(function() {
				$.fancybox.open('1_b.jpg');
			});

			$("#fancybox-manual-b").click(function() {
				$.fancybox.open({
					href : 'iframe.html',
					type : 'iframe',
					padding : 5
				});
			});

			$("#fancybox-manual-c").click(function() {
				$.fancybox.open([
					{
						href : '1_b.jpg',
						title : 'My title'
					}, {
						href : '2_b.jpg',
						title : '2nd title'
					}, {
						href : '3_b.jpg'
					}
				], {
					helpers : {
						thumbs : {
							width: 75,
							height: 50
						}
					}
				});
			});


		
        // Get the modal
        var modalTestDrive = document.getElementById('mTestDrive');
        
        // Get the button that opens the modal
        var btnTestDrive = document.getElementById("btnTestDrive");
        
        // Get the <span> element that closes the modal
        var spanTestDrive = document.getElementsByClassName("closeTestDrive")[0];
        
        // When the user clicks the button, open the modal 
        btnTestDrive.onclick = function() {
            modalTestDrive.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        spanTestDrive.onclick = function() {
            modalTestDrive.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
       
        // Get the modal
        var modalSellCar = document.getElementById('mSellCar');
        
        // Get the button that opens the modal
        var btnSellCar = document.getElementById("btnSellCar");
        
        // Get the <span> element that closes the modal
        var spanSellCar = document.getElementsByClassName("closeSellCar")[0];
        
        // When the user clicks the button, open the modal 
        btnSellCar.onclick = function() {
            modalSellCar.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        spanSellCar.onclick = function() {
            modalSellCar.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modalSellCar || event.target == modalTestDrive) {
                modalSellCar.style.display = "none";
                modalTestDrive.style.display = "none";
            }
        }

    });
        </script>
    
{% endblock scripts %}
</body>
</html>