<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul>
            <li>Cars</li>
            <li>Users</li>
            <li>Appointments</li>
            <li>Sold Cars</li>
            <li>Rented Cars</li>
            <li>System Log</li>
            <li>Profile</li>
        </ul>
    </nav>
</header>
<body>
    Welcome to Back office
</body>
</html>