{% extends "../index.html" %}
{% block header %}

{% endblock header %}
<body>
    {% block main %}
    <section id="auth" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="newsletter_detail">

                    {%if user.is_authenticated%}
                    <p>You are already logged, please logout first</p>
                    {%else%}
                        <form method="post" id="loginForm">
                            <h1>Login</h1>
                            {% csrf_token %} 
                            {{ form.as_p }}
                            <div class="form-group">
                                <button type="submit" class="btn-signin">Let me in </button>
                            </div>
                        </form>
                        {%endif%}
                </div>
            </div>
        </div>
    </section>
    {% endblock main %}

   
</body>
</html>