{% extends "../index.html" %}
{% block header %}

{% endblock header %}
<body>
    {% block main %}
    <section id="auth" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="newsletter_detail">
                    <form method="post" id = "regForm" enctype="multipart/form-data">
                        <h1>REGISTER</h1>
                        {% if messages %} 
                        {% for message in messages %}
                            <p>{{ message }}</p>

                        {% endfor %}
                        </ul>
                        {% endif %} 

                        {% csrf_token %}
                        
                         {% for field in form %}
                            <div class="form-group">

                                {{ field.label_tag }}
                                <br> {{ field }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <button type="submit" class="btn-signin">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock main %}

    {% block customScripts %}
 
    <script src="../../../static/js/jquery.validate.js"></script>
    <script>
$ (function(){
$("#regForm").validate({
    rules:{
        username:{
            required:true,
            minlength:4,
        },
        password1 : {
            minlength : 8
        },
        password2 : {
            minlength : 8,
            equalTo : "#id_password1"
        },
        email:{
            required:true,
        }
    }
});
});

    </script>
    {% endblock customScripts %}


</body>
</html>