{% extends "../index.html" %}
    {% block customHead %}
    
    <link rel="stylesheet" type="text/css" href="../../../../static/css/bootstrap.min.css" />
    <link rel="styleshee" type="text/css" href="../../../../static/css/jquery.timepicker.css" />
    <link rel="stylesheet" type="text/css" href="../../../../static/css/bootstrap-datepicker.css" />
    {% endblock customHead %}

    {% block customContent %}
    <form action="/car/rent/create" id="carRentForm" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="cc-payment" class="control-label mb-1">From:</label>
                 <input type="text" id="startDate" name="startDate" placeholder="startDate" class="form-control date start" required>
            </div>
            <div class="form-group has-success">
                <label for="cc-name" class="control-label mb-1">To:</label>
                <input type="text" id="endDate" name="endDate" placeholder="endDate" class="form-control date end"  required>
            </div>
            <div class="form-group">
                <label for="cc-number" class="control-label mb-1">Car Model</label>
                <select name="carModel" class="control-label mb-1">
                        {%for car in cars%}
                        <option value="{{car.id}}">{{car.model}}</option>
                        {%endfor%}
                    </select>
            </div>
            
            <div>
                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                    <span id="payment-button-amount">Rent </span>
                </button>
            </div>
        </form>
    
   
    {% endblock customContent %}
   
    {% block customScripts %}
    
    <script type="text/javascript" src="../../../../static//js/jquery.js"></script>
    <script type="text/javascript" src="../../../../static/js/moment.min.js"></script>
    <script type="text/javascript" src="../../../../static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../../../static/js/jquery.timepicker.js"></script>
    <script type="text/javascript" src="../../../../static/js/Datepair.js"></script>
    <script>
        
        
        
        $('#carRentForm .form-control').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true
        });
        
        // initialize datepair
        var basicExampleEl = document.getElementById('carRentForm');
        var datepair = new Datepair(basicExampleEl);
    </script>
    {% endblock customScripts %}


