{% extends "../index.html" %}

{% block customHead %}

<link rel="stylesheet" type="text/css" href="../../../../static/css/modalForms.css">
{% endblock customHead %}

{% block aboveTableContent %}
<div><a href="/car/rent/create"> Rent Car</a></div>

{% endblock aboveTableContent %}

{% block table %}



<thead>
        <tr>
                <th>Model:</th>
                <th>Start Date:</th>
                <th>End Date:</th>
                <th>Employe:</th>
                <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        
        {%for car in cars%}
        <tr>
                <td>{{car.carId.model}}</td>
                <td>{{car.startDate}}</td>
                <td>{{car.endDate}}</td>
                <td>{{car.employeId.username}}</td>
                <td>
                    <button id="btnDeleteRented" onclick="delete_rented_car({{car.id}})">Return Car</button>
                </td>
                <td>
                    <a href="/car/rent/edit/{{car.id}}">Edit</a>
                </td>
        </tr>
      
    </tbody>


    
    
    <div id="mDeleteRented-{{car.id}}" class="modalDeleteRented">
        <div class="modalDeleteRented-content">
            <span class="closeDeleteRented">&times;</span>
            <form action="/car/rent/delete/{{car.id}}" method="post">
                <h1>Sell Carr</h1>
                {% csrf_token %}
                <h3>Are You Sure ? 
                    
                </h3>
                
                <div class="form-group">
                    <button type="submit" value="Delete" class="btn-signin">Return</button>
                </div>
            </form>
        </div>
    </div>
    
    {%endfor%}
    {% endblock table %}
{% block customScripts %}

<script>
    
    function delete_rented_car(id){
        // Get the modal
        var modalDeleteRented = document.getElementById('mDeleteRented-'+ id);
        
        // Get the <span> element that closes the modal
            var spanDeleteRented = document.getElementsByClassName("closeDeleteRented"  )[0];
            
            
            modalDeleteRented.style.display="block";
            // When the user clicks on <span> (x), close the modal
                spanDeleteRented.onclick = function () {
                    modalDeleteRented.style.display = "none";
                }
                
                // When the user clicks anywhere outside of the modal, close it
                
                
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modalDeleteRented) {
                        modalDeleteRented.style.display = "none";
                        
                    }
                }
            }
            
        </script>
        {% endblock customScripts %}
    